<nz-table #nzTable
          [nzAjaxData]="tableService.dataSet"
          [nzSize]="tableService.tableSize"
          [nzPageSize]="10"
          nzShowSizeChanger
          [nzLoading]="tableService.loading"
          [nzTotal]="tableService.total"
          [(nzPageIndex)]="tableService.current"
          [(nzPageSize)]="tableService.per_page"
          (nzPageIndexChange)="tableService.search()"
          (nzPageSizeChange)="tableService.search(true)"
>
  <thead nz-thead>
  <tr>
    <th nz-th nzCheckbox *ngIf="tableService.isCheckbox">
      <label nz-checkbox
             [(ngModel)]="tableService.allChecked"
             [nzIndeterminate]="tableService.indeterminate"
             (ngModelChange)="tableService.checkAll($event)">
      </label>
    </th>
    <th nz-th *ngFor="let col of tableService.columns">
        <span>
          {{col.title}}
          <ng-container *ngIf="col.sortable">
            <nz-table-sort [(nzValue)]="tableService.sortMap[col.field]" (nzValueChange)="tableService.sort(col.field, $event)"></nz-table-sort>
          </ng-container>
        </span>
    </th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data; let i = index">
    <td nz-td nzCheckbox *ngIf="tableService.isCheckbox">
      <label nz-checkbox
             [(ngModel)]="data.checked"
             (ngModelChange)="tableService.refreshStatus($event)">
      </label>
    </td>
    <td nz-td *ngFor="let col of columns;" [ngClass]="{'table-column-is-operate': col.isOperate}">
      <ng-container *ngIf="col.isOrder">
        <span>{{i + 1}}</span>
      </ng-container>
      <ng-container *ngIf="col.formatter">
        <span [innerHTML]="tableService.getSecurityHtml(col, i, data)"></span>
      </ng-container>
      <ng-container *ngIf="!col.formatter && col.field">
        <span>{{data[col.field]}}</span>
      </ng-container>
      <ng-container *ngIf="col.isOperate">
        <span><a (click)="onClickEdit(data)">编辑</a></span>
        <span><a (click)="onClickDel(data)">删除</a></span>
      </ng-container>
    </td>
  </tr>
  </tbody>
</nz-table>
