@import "../../../../assets/scss/vars.scss";
.task-status {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.task-status-1 {
  background-color: $color-green;
}
.task-status-2 {
  background-color: $color-level-2;
}
.task-status-3 {
  background-color: $color-text-warning;
}
