<div class="login-wrap">
  <div class="login-content">
    <div class="login-container">
      <div class="login-box">
        <div class="h65 mb30">
          <div class="login-logo-wrap">
            <div class="login-logo"></div>
          </div>
          <h1 class="login-title">任务管理系统</h1>
        </div>
        <div class="cb"></div>
        <form nz-form [formGroup]="form" class="login-form">
          <div nz-form-item>
            <div nz-form-control>
              <nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-user"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain
                   *ngIf="form.controls.username.dirty&&form.controls.username.hasError('required')">
                请输入用户名
              </div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'请输入密码'" [nzSize]="'large'">
                <ng-template #prefix>
                  <i class="anticon anticon-lock"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain
                   *ngIf="form.controls.password.dirty&&form.controls.password.hasError('required')">
                请输入密码
              </div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control>
              <!--<label nz-checkbox formControlName="remember">-->
                <!--<span>记住我</span>-->
              <!--</label>-->
              <!--<a class="login-form-forgot" class="login-form-forgot">忘记密码</a>-->
              <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" (click)="login()">登录</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
