<div class="task-form-box">
  <form nz-form [formGroup]="form" class="login-form">
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>公司名称</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-input formControlName="companyname" [nzType]="'text'" [nzPlaceHolder]="'请输入公司名称'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('companyname').dirty&&getFormControl('companyname').hasError('required')">
          必填项不能为空
        </div>
        <div nz-form-explain *ngIf="getFormControl('companyname').dirty&&getFormControl('companyname').hasError('maxlength')">
          最多不超过100个字
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>金额</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control class="nz-input-number-w">
        <nz-input-number formControlName="amount" [nzStep]="100" [nzSize]="'large'"
                         [nzFormatter]="formatterYuan" [nzParser]="parserYuan"></nz-input-number>
        <div nz-form-explain *ngIf="getFormControl('amount').dirty&&getFormControl('amount').hasError('required')">
          必填项不能为空
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>事项</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-input formControlName="taskname" [nzType]="'text'" [nzPlaceHolder]="''" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('taskname').dirty&&getFormControl('taskname').hasError('required')">
          必填项不能为空
        </div>
        <div nz-form-explain *ngIf="getFormControl('taskname').dirty&&getFormControl('taskname').hasError('maxlength')">
          最多不超过100个字
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>区域</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-input formControlName="district" [nzType]="'text'" [nzPlaceHolder]="''" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('district').dirty&&getFormControl('district').hasError('required')">
          必填项不能为空
        </div>
        <div nz-form-explain *ngIf="getFormControl('district').dirty&&getFormControl('district').hasError('maxlength')">
          最多不超过100个字
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>进程</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-input formControlName="process" [nzType]="'text'" [nzPlaceHolder]="''" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('process').dirty&&getFormControl('process').hasError('required')">
          必填项不能为空
        </div>
        <div nz-form-explain *ngIf="getFormControl('process').dirty&&getFormControl('process').hasError('maxlength')">
          最多不超过100个字
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label>备注</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-input formControlName="remark" [nzType]="'textarea'" [nzPlaceHolder]="''" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('remark').dirty&&getFormControl('remark').hasError('required')">
          必填项不能为空
        </div>
        <div nz-form-explain *ngIf="getFormControl('remark').dirty&&getFormControl('remark').hasError('maxlength')">
          最多不超过100个字
        </div>
      </div>
    </div>
    <div nz-form-item nz-row>
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>交接单</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-input formControlName="detaillist" [nzType]="'textarea'" [nzPlaceHolder]="''" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('detaillist').dirty&&getFormControl('detaillist').hasError('required')">
          必填项不能为空
        </div>
        <div nz-form-explain *ngIf="getFormControl('detaillist').dirty&&getFormControl('detaillist').hasError('maxlength')">
          最多不超过100个字
        </div>
      </div>
    </div>
    <div nz-form-item nz-row *ngIf="!isEdit">
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>负责人</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-select formControlName="liableid" [nzSize]="'large'"
                   [nzPlaceHolder]="'输入关键字查找...'"
                   [nzNotFoundContent]="'无法找到'"
                   nzAllowClear
                   nzShowSearch

        >
          <!--(nzSearchChange)="userSearchChange($event, 1)"-->
          <nz-option *ngFor="let option of field5Options" [nzLabel]="option.displayname+'('+ option.username +')'" [nzValue]="option.id"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-form-item nz-row *ngIf="!isEdit">
      <div nz-form-label nz-col [nzSpan]="7">
        <label>下一环节负责人</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <nz-select formControlName="nextliableid" [nzSize]="'large'"
                   [nzPlaceHolder]="'输入关键字查找...'"
                   [nzNotFoundContent]="'无法找到'"
                   nzAllowClear
                   nzShowSearch

        >
          <!--(nzSearchChange)="userSearchChange($event, 2)"-->
          <nz-option *ngFor="let option of field6Options" [nzLabel]="option.displayname+'('+ option.username +')'" [nzValue]="option.id"></nz-option>
        </nz-select>
      </div>
    </div>
    <div nz-form-item nz-row *ngIf="isEdit && isAdmin">
      <div nz-form-label nz-col [nzSpan]="7">
        <label nz-form-item-required>状态</label>
      </div>
      <div nz-col [nzSpan]="12" nz-form-control>
        <!--<nz-select formControlName="field10" [nzSize]="'large'" [nzPlaceHolder]="''">-->
          <!--<nz-option *ngFor="let option of field10Options" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>-->
        <!--</nz-select>-->
        <ng-container *ngFor="let state of stateArr">
          <nz-checkable-tag
            [class.checked-1]="state.checked && state.value === '1'"
            [class.checked-2]="state.checked && state.value === '2'"
            [class.checked-3]="state.checked && state.value === '3'"
            [nzChecked]="state.checked" (nzChange)="stateChange(state)">
            <span>{{state.label}}</span>
          </nz-checkable-tag>
        </ng-container>
      </div>
    </div>
    <div nz-form-item nz-row [nzGutter]="20">
      <div nz-col [nzOffset]="6" [nzSpan]="12" nz-form-control class="tac">
        <button *ngIf="isEdit" nz-button [nzType]="'default'" (click)="onClickCancel()"><span>取消</span></button>
        <button nz-button [nzType]="'primary'" (click)="onClickSave(0)"
                [disabled]="isEdit ? form.invalid : (form.invalid || !getFormControl('liableid').value)"
        ><span>保存</span></button>
        <!--<button nz-button [nzType]="'primary'" (click)="onClickSave(1)"-->
                <!--[disabled]="isEdit ? form.invalid : (form.invalid || !getFormControl('liableid').value || !getFormControl('nextliableid').value)"-->
        <!--&gt;<span>提交</span></button>-->
      </div>
    </div>
  </form>
</div>
